<div class="min-h-screen bg-blue-100 flex items-center justify-center px-4">
<mat-card  class="w-full max-w-sm flex flex-col items-center   bg-gray-100 rounded-lg">
    <h2 class="text-3xl font-bold color-black">Create an account</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" placeholder="Enter your name">
            <mat-error *ngIf="f['username'].hasError('required')">Username is required</mat-error>
            <mat-error *ngIf="f['username'].hasError('minlength')">Username must be at least 3 characters</mat-error>
        </mat-form-field>

            <mat-form-field appearance="fill" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Enter your email">
            <mat-error *ngIf="f['email'].hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="f['email'].hasError('email')">Enter a valid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
           <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Enter your password">
            <mat-error *ngIf="f['password'].hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="f['password'].hasError('minlength')">Password must be at least 6 characters</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
           <mat-label>Confirm Password</mat-label>
            <input  matInput formControlName="confirmPassword" type="password" placeholder="Confirm your password">
            <mat-error *ngIf="f['confirmPassword'].hasError('required')">Confirm password is required</mat-error>
           <mat-error *ngIf="registerForm.errors?.['PasswordNoMatch']">
          Passwords do not match
        </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
           <mat-label>Birthdate</mat-label>
            <input  matInput formControlName="birthDate" type="date" placeholder="Select your Birthdate">
            <mat-error *ngIf="f['birthDate'].hasError('required')">Date is required</mat-error>
          
        </mat-form-field>

        

         <mat-form-field appearance="fill" class="w-full">
           <mat-label>Phone number</mat-label>
            <input  matInput formControlName="phoneNumber" type="number" placeholder="Enter phoneNumber">
            <mat-error *ngIf="f['phoneNumber'].hasError('required')">Phone number is required</mat-error>
           
        </mat-form-field>
        
          <mat-form-field appearance="fill" class="w-full">
           <mat-label>Enter pincode</mat-label>
            <input  matInput formControlName="pincode" type="string" placeholder="Enter pincode ">
            <mat-error *ngIf="f['pincode'].hasError('required')">Pincode is required</mat-error>
           
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
           <mat-label>Enter District</mat-label>
            <input  matInput formControlName="district" type="string" placeholder="Enter District ">
            <mat-error *ngIf="f['district'].hasError('required')">District is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
           <mat-label>Enter State</mat-label>
            <input  matInput formControlName="state" type="string" placeholder="Enter pincode ">
            <mat-error *ngIf="f['state'].hasError('required')">State is required</mat-error>
           
        </mat-form-field>

         
        <button  mat-raised-button color="primary" class="register-button" type="submit">
        Register
      </button>
    </form>
</mat-card >


</div>



