<div class="calendar-full">
 <div class="calendar-header">
  <div class="left-btn">
    <button (click)="openAddEventDialog()">Add Event</button>
  </div>
  
  <div class="date-section" *ngIf="viewMode === 'week'">
    <button class="nav-button" (click)="previousWeek()">&#10094;</button>
    <span class="month-label">{{ getWeekLabel() }}</span>
    <button class="nav-button" (click)="nextWeek()">&#10095;</button>
  </div>
  

   <div class="date-section" *ngIf="viewMode === 'month'">
    <button class="nav-button" (click)="previousMonth()">&#10094;</button>
    <span class="month-label">{{ getMonthLabel() }}</span>
    <button class="nav-button" (click)="nextMonth()">&#10095;</button>
  </div>
  

  <div class="toggle">
    
      <input type="radio" id="month" name="calendarView" value="month" (change)="onViewChange('month')" [checked]="viewMode === 'month'">
      <label for="month">Month View</label>

      <input type="radio" id="week" name="calendarView" value="week" (change)="onViewChange('week')">
      <label for="week">Week View</label>
  </div>
 </div>


  <div class="calendar-days">
    <div class="day-label" *ngFor="let day of ['Monday', 'Tueday', 'Wednesday', 'thursday', 'friday', 'Saturday', 'Sunday']">
      {{ day }}
    </div>
  </div>

  <div class="calendar-days" *ngIf="viewMode === 'month'">
    <mat-card *ngFor="let day of daysinMonth" class="calendar-day-card" (click)="onDayClick(day)"> 
        <div class="date">
            {{day.date.getDate()}}
        </div>
        <div class="quote-tag" *ngFor="let quote of day.quote" >
            {{quote}}
        </div>
    </mat-card>
  </div>


  <div class="calendar-days week-card" *ngIf="viewMode === 'week'">
  <mat-card *ngFor="let day of daysinweek"  class="calendar-day-card"  (click)="onDayClick(day)">
    <div class="date">{{ day.date.getDate() }}</div>

    <div class="quote-tag" *ngFor="let quote of day.quote"  (click)="editEvent(day.date,quote,day.author)">
      {{ quote }}
    </div>
  </mat-card>
</div>
  
</div>