<div class="calendar-full">
 <div class="calendar-header">
  <div class="left-btn">
    <button mat-flat-button color="primary" (click)="openAddEventDialog()">Add Event</button>
  </div>
  
  <div class="date-section" *ngIf="viewMode === 'week'">
    <button class="nav-button" (click)="previousWeek()">&#10094;</button>
    <span class="month-label">{{ getWeekLabel() }}</span>
    <button class="nav-button" (click)="nextWeek()">&#10095;</button>
  </div>
  

   <div class="date-section" *ngIf="viewMode === 'month'">
    <button class="nav-button" (click)="previousMonth()">&#10094;</button>
    <span class="month-label">{{ getMonthLabel() }}</span>
    <button class="nav-button" (click)="nextMonth()">&#10095;</button>
  </div>
  
 

  <div class="toggle">
       
      <input type="radio" id="list" name="calendarView" value="list" (change)="onViewChange('list')" >
      <label for="month">List View</label>  

      <input type="radio" id="month" name="calendarView" value="month" (change)="onViewChange('month')" [checked]="viewMode === 'month'">
      <label for="month">Month View</label>

      <input type="radio" id="week" name="calendarView" value="week" (change)="onViewChange('week')">
      <label for="week">Week View</label>
  </div>
 </div>


 <div *ngIf="viewMode==='month'">
  <mat-form-field>
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate name="startDate" placeholder="Start date">
    <input matEndDate name="endDate" placeholder="End date">
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

 </div>

 <div  class="searchbardiv" *ngIf="viewMode==='list'">
  <input class="searchbar" type="text" placeholder="Search event details" [(ngModel)]="filtername">
 </div>



   <div  *ngIf="viewMode==='list'">
    <table  class="tabledata">
      <thead>
        <th>Date</th>
        <th>Quote</th>
        <th>Author</th>
      </thead>

      <tbody>
        <tr *ngFor="let e of events | filterpipe :filtername">
          <td>{{e.date}}</td>
          <td>{{e.quote}}</td>
          <td>{{e.author}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="viewMode!=='list'" class="calendar-days">
    <div class="day-label" *ngFor="let day of ['Monday', 'Tueday', 'Wednesday', 'thursday', 'friday', 'Saturday', 'Sunday']">
      {{ day }}
    </div>
  </div>
  
 
  <div class="calendar-days" *ngIf="viewMode === 'month'">
    <mat-card *ngFor="let day of daysinMonth" class="calendar-day-card" (click)="onDayClick(day)"> 
        <div class="date">
            {{day.date.getDate()}}
        </div>
        <div class="quote-tag" *ngFor="let quote of day.quote" >
            {{quote}}
        </div>
    </mat-card>
  </div>


  <div class="calendar-days week-card" *ngIf="viewMode === 'week'">
  <mat-card *ngFor="let day of daysinweek"  class="calendar-day-card"  (click)="onDayClick(day)">
    <div class="date">{{ day.date.getDate() }}</div>

    <div class="quote-tag" *ngFor="let quote of day.quote"  (click)="editEvent(day.date,quote,day.author)">
      {{ quote }}
    </div>
  </mat-card>
</div>
  
</div>