<div>
    <h3 class="text-xl font-bold mb-4">Order summary</h3>
   <table class="w-full  border-gray-300">
      <thead>
        <tr class="bg-gray-200">
          <th class="border p-2">Title</th>
          <th class="border p-2">Quantity</th>
          <th class="border p-2">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let product of selectedProducts">
          <td class="border p-2">{{ product.title}}</td>
          <td class="border p-2">{{ product.quantity }}</td>
          <td class="border p-2">{{ getTotalPrice(product) }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Total price: {{getFinalTotalprice()}}</h3>
</div>